.App {
  text-align: center;
}

.App-logo {
  max-height: 200px;
  top: 50px;
  align-content: left;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(16px + 2vmin);
  color: white;
}

.Text {
  color: red;
  display: flex;
}

.Button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  padding:5px;
  color: red;
  background: #ecf0f1;
  border: 1px solid red;
  display: inline-block;
    visibility: visible;
}